*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

.npm

.env

.nyc/
.nyc_output/

node_modules
bower_components

# IDE
.idea
.vscode
*.iml
modules.xml
*.ipr

# Filesystem/OS
Desktop.ini
$RECYCLE.BIN/
.DS_Store
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
